<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.selflearning">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".BroadcastReceiverDemo" />
        <activity android:name=".CallOtherAppService" />
        <activity android:name=".BindService" />

        <service
            android:name=".MyDemoService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".ServiceDemoActivity" />
        <activity android:name=".ShareDataDemoB" />
        <activity android:name=".ShareDataDemoA" />
        <activity
            android:name=".DemoAty2"
            android:label="Demo Activity 2">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="com.example.selflearning.intent.action.DemoActivity" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DemoAty1"
            android:label="Demo Activity 1">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="com.example.selflearning.intent.action.DemoActivity" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityReturnDemo" />
        <activity android:name=".ParcelableDemoActivity" />
        <activity android:name=".SerializableDemoActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>